<footer>
    <div class="container">
        <p class="text-center">
            <a target="_blank" href="http://www.mucheyt.cn/" >我的博客</a>
        </p>
        <p class="text-center">
            友情链接
            <a target="_blank" href="https://www.nowcoder.com/">牛客网</a>
            <a target="_blank" href="https://github.com/moqi0311/joyfulInfo">网站源码</a>
        </p>
<!--        <p class="text-center">© 2019-2020 开心堂</p>-->
    </div>

</footer>

<!--<div id="quick-download">-->
<!--    <button type="button" class="close-link btn-link" data-toggle="modal" data-target="#quick-download-app-modal"><i class="fa icon-times-circle"></i></button>-->

<!--    <a class="download-link" href="http://nowcoder.com/download">-->
<!--        <h3>牛客网</h3>-->
<!--        <h4>程序员的首选学习分享平台</h4>-->
<!--        <button type="button" class="btn btn-info btn-sm">下载 APP</button>-->
<!--    </a>-->

<!--    <div class="modal fade" id="quick-download-app-modal" tabindex="-1" role="dialog">-->
<!--        <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">提示</div>-->
<!--                <div class="modal-body">-->
<!--                    <div class="checkbox">-->
<!--                        <label class="i-checks">-->
<!--                            <input id="already-installed" type="checkbox"><i></i> 我已安装了牛客网App，不再显示-->
<!--                        </label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-block btn-default" id="close-quick-download-app-modal">关 闭</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

</body></html>